CONFIG_TRACING=y
CONFIG_TRACING_CTF=y
CONFIG_TRACING_HANDLE_HOST_CMD=y
CONFIG_TRACING_THREAD_WAIT_THRESHOLD=40

CONFIG_TRACING_SYSCALL=n
CONFIG_TRACING_MUTEX=n
CONFIG_TRACING_SEMAPHORE=y

CONFIG_CIRCBUFFER=y
CONFIG_SWFIFO=y
CONFIG_TRACERAM=y
CONFIG_TRACERAM_DEPTH=4000
CONFIG_TRACERAM_LOG_LEVEL_INF=y

# Must enable the ram backend that we are over-riding.
CONFIG_TRACING_BACKEND_RAM=y
# Small size for tracing_backend_ram since TRACERAM overrides it.
CONFIG_RAM_TRACING_BUFFER_SIZE=16
