config TCPSERVER
	bool "Enable the TcpServer lib"
	default n
	depends on TCPSOCKET
	depends on RTOSUTILS

module = TCPSERVER
module-str = "TcpServer"
source "subsys/logging/Kconfig.template.log_config"
