config PROTORPC
	bool "Enable the ProtoRpc lib"
	depends on PBGENERIC

config PROTORPC_MAX_MSG_SIZE
	int "Max on-the-wire size for a packed protobuf message."
	default 2048

config PROTORPC_TRACE_MODULE
	bool "Enables Tracing of this module."
	depends on TRACEMODULE

config PROTORPC_TRACE_MODULE_ID
	int "TraceModule ID for this module (see TraceModule.h)."
	default -1
	help
	  Sets the ID for this trace module. Default of -1 will cause a compilation error.
	  Must define a valid value.

config PROTORPC_TRACE_MODULE_LEVEL
	int "TraceModule level for the module (see TraceModule.h)."
	default 3



module = PROTORPC
module-str = "ProtoRpc"
source "subsys/logging/Kconfig.template.log_config"
