config TCPECHO
	bool "Enable the TcpEcho server lib"
	default n
	depends on TCPSERVER
	depends on TCPSOCKET

module = TCPECHO
module-str = "TcpEcho"
source "subsys/logging/Kconfig.template.log_config"
