config COBS
	bool "Enable the COBS (Consistent Overhead Byte Stuffing) Library"
	default n
	help
		Encoder and decoder for framing serial streams.

module = COBS
module-str = "Cobs"
source "subsys/logging/Kconfig.template.log_config"
